*			{margin:0;padding:0}
body			{color:#121210;font-family:sans-serif;background:#006fbf}
#container		{max-width:1600px;margin:0 auto}
hr			{border-top:1px solid #006FC0;clear:both;display:block;margin:12px 0} 
small			{font-size:0.8em} 
span.clear		{clear:both;display:block;overflow:hidden;width:0;height:0;line-height:0;font-size:0}
embed, object		{display:block;clear:both}
a img			{border:0px}
q:before			{content:""}
q:after			{content:""}
p			{margin:12px 0;}
div.content p		{max-width:60em}

h1			{font-size:1.5em;padding:12px 0 0 0;color:#000;letter-spacing:-0.05em;font-weight:700}
h2			{font-size:1.3em;margin:12px 0 0 0;color:#000;font-weight:500}
h3			{font-size:1.0em;margin:12px 0 0 0;color:#000;font-weight:700}
h4			{font-size:0.8em}


/* gala_01.css */
div#wrapper		{float:left;width:100%}
div.blocks3  #content	{margin: 0 6% 0 6%;}
div.blocks2e #content	{margin: 0 6% 0 0;}
div.blocks2n #content	{margin: 0  0 0 6%;}
div.blocks1  #content	{margin: 0  0 0 0;}
div#navigation		{float:left;width:6%;margin-left:-100%}
div#extra			{float:left;width:6%;margin-left:-6%}
div#footer		{clear:left;width:100%}

  
#content			{background:#f6f6f6;padding:0 0 64px 0;border-left:1px solid #fff;border-right:10px solid #006fbf}
	div.display	{margin:0 12px;padding:8px}
	div.admin		{margin:0 12px;padding:8px}
	div.listing	{margin:0 12px;padding:8px}
	div.header	{text-align:center}
	div.body		{}
	div.content	{line-height:144%}
	div.post		{}

div.last_board_posts	{}
div.last_board_posts li	{}
div.last_board_posts cite a	{padding:0 .4em 0 0 !important;margin-left:16px;display:inline !important;color:#000 !important;font-style:normal}


/* nav */
#navigation		{}
#navigation div.module img 	{display:none}

#navigation div.module	{margin:16px auto;width:85%;max-width:85%;overflow:hidden}
#navigation h3		{background:#fadc00;color:#000;padding:0 4px 0 10px;text-decoration:none;font-size:0.7em;font-weight:700;text-transform:uppercase}
#navigation h3		{border:6px solid #006fbf;border-color:#fadc00 #006fbf #006fbf #006fbf;border-width:6px 0px 0px 6px;display:inline}
#navigation div.modulecontent	{display:block;clear:both;margin:0 8px;padding-top:8px}

li.active a.head 		{font-weight:700;color:#fadc00 !important}
li.active a.head:visited	{font-weight:700;color:#fadc00 !important}




/* extra */



/* footer */
#footer			{background:#f3e14e url(images/bg_extra.png) no-repeat left top;overflow:hidden;padding-top:64px;}
#footer div.module		{width:30%;float:left;margin:0 0 0 3%;white-space:nowrap;height:416px;overflow:hidden}
#footer div.module h3	{color:#b00000;margin:0;font-weight:700}
#footer div.module li	{color:#d4ba01;font-size:0.8em}

#footer a.more		{display:block;border:0;font-size:1em;font-weight:500;padding:16px 0}
#footer a.more:hover	{color:#00f411}

#footer li a		{color:#000;border-bottom:1px solid #d4ba01;padding:5px 0 3px 3px;display:block;}
#footer li a:visited	{color:#d4ba01;font-weight:700}
#footer li a:hover		{border-bottom:1px solid #00f411;text-decoration:none}

#footer em		{color:#000;font-style:normal}
#footer q 		{display:none}
#footer var		{display:none}


#footer #poweredby		{background:#121210;text-align:center;clear:both;color:#e5e5e5 !important;padding:16px;display:block;font-weight:900;font-size:1.2em;letter-spacing:0.4em;text-transform:lowercase}
#footer #poweredby:hover	{color:#fff !important}




/* parsed elements */
.bittable td		{padding:0.5em;border:0}
.bitbox			{background:#fff;padding:1em;min-height:3em;border-bottom:4px solid #fadc00}
.bitbox:first-letter	{color:#fadc00;font-size:3em}
.bitbox a			{}
.bitbar			{border-bottom:1px solid #404040;border-top:1px solid #404040}
.bittoc			{float:right;border:1px solid #404040;font-size:0.8em;background:#BFBFBD;margin:0 0 1em 1em;padding:0 1em;width:35%}
.bittoc ul		{margin:0.5em 0 0.5em 1.5em;}
.bittoc ul ul		{margin:0 0 0 1em}


/* tocs */
div.body div.maketoc	{width:37%;float:right;background-color:#fff;margin-left:24px;padding:0 0 1em 0;border-style:solid;border-color:#f6f6f6 #ddddd0 #ddddd0 #ddddd0;border-width:8px 8px 1px 0px}
div.body div.maketoc h3	{font-size:0.7em;text-transform:uppercase;padding:0 32px;border-bottom:1px solid #ddddd0}
div.body div.maketoc ul	{font-size:0.9em}
div.body div.maketoc ul li	{list-style-type:none}

div.body div.maketoc li a		{color:#000;border-color:#ddddd0}
div.body div.maketoc li li a		{color:#999;border-color:#ddddd0}
div.body div.maketoc li li li a	{color:#ccc;border-color:#ddddd0}
div.body div.maketoc a:hover		{color:#00f;border-color:#0000ff;text-decoration:none}



/* forms */
form			{margin:0 0 8px 0;padding:12px 0 0 0}
fieldset			{margin:0 0 8px 0;border:3px double #fff}
legend			{color:#b00000;font-weight:700;padding:8px 16px}
ul.iconlegend		{list-style:none;clear:both;padding:0.5em; margin:0 20%;background-color:#f0f0f0;border:1px inset #f6f6f6;}
ul.iconlegend li		{list-style:none;}

input			{font-family:monospace;border-width:1px}
div.submit input		{margin:1px 4px}
select			{border-width:1px;margin:2px}
textarea			{font-family:monospace;width:98%;border-width:1px}

div.row			{display:block;clear:both;margin:8px;padding:4px;border-bottom:1px dotted #f2f2f0}
div.quicktags		{}
div.formlabel		{color:#121210;font-size:0.9em;float:left;width:20%;text-align:right}
div.forminput		{margin-left:21%}
div.formhelp		{color:#b00000;font-size:0.7em;padding-left:8px}
	div.row .formhelp	{padding-left:0}
	div.formhelp a	{font-weight:bold}
div.closebutton		{position:absolute;top:1px;right:1px}
div.submit		{text-align:center}


/* interaction */
div.floaticon		{text-align:right}
div.content div.floaticon,
div.post div.floaticon	{float:right}
div.floaticon a		{padding:0 2px}
div.floaticon a:hover	{background:#fadc00}


/* feedback */
div.errorpage h3		{color:#D60000;font-weight:bold}
div.errorpage p		{text-align:center}

div.formfeedback		{margin:12px;display:block;clear:both;border-bottom:1px solid white;min-height:1em;font-weight:700;font-size:0.8em}
.error			{color:#b00000}
.warning			{color:#000000}
.success			{color:#017747}
.locked			{color:#c0c0c0}
.note			{font-weight:700;list-style:none}

/* search */
#search_new form		{text-align:center}
#search_new *		{margin:4px;text-align:center;display:block}
#search_new input		{clear:both;display:block}
#search_new option		{text-align:left}




/* tables */
fieldset table		{margin:0 2%;width:96%}
table			{border-collapse:collapse;width:99%;border-spacing:0px}
	table.menutable h3	{text-decoration:none}
	table.menutable td	{padding:10px 4px;background:#f6f6f6}
	table.optionbar	{font-size:0.8em}
	table .formlabel	{float:none;width:auto;text-align:left}
	table .forminput	{}
caption			{display:none}
th			{border-bottom:1px solid #F2F2F0;background:#fadc00;color:#000;padding:2px 4px;font-weight:500;font-size:0.8em}
	th a		{color:#000;font-weight:700;text-decoration:none}
	th a:hover	{color:#fff}
	div.admin th	{text-align:left}
td			{padding:2px 4px;background:#fff}
	td.actionicon	{text-align:right}
	tr.odd td		{border-bottom:1px solid #efe9c2}
	tr.even td	{border-bottom:1px solid #efe9c2}
	td input		{}
tfoot 	 		{border-top:3px solid #fadc00}
table.data tfoot td	 	{text-align:center;padding:1em 0}

#wiki table th		{overflow:hidden}
#wiki table td span		{color:#aaaaa0}
#wiki table td span a	{color:#aaaaa0;text-decoration:none}



/* lists */
ul,ol,li			{list-style-type:none}
div.display ul		{list-style-type:square;margin:12px 20px}
div.display ol		{list-style-type:square;margin:12px 20px}
div.display li		{list-style-type:square;margin:12px 20px}
ul.data			{margin:1em}
ul.data li.item		{padding:0.5em}
ul.data .thumb		{float:right;margin:1em}
li.odd, li.even		{}

#navigation ul.data li.odd,
#navigation ul.data li.even,
#navigation ul.data li.even a,
#navigation ul.data li.odd a	{border:0px;text-align:left}

div.ranking ol		{line-height:1.4em}
div.ranking ol li.odd	{border:0}
div.ranking ol li.even	{border:0}
div.ranking ol li a		{text-decoration:none}

ul.toc,ul.toc ul		{margin-left:2em;padding-left:0;line-height:normal}
ul.toc li			{list-style:none}
ul.toc ul.data		{border:1px solid #969694;padding:0.5em 1em}
ul.toc p			{margin:0.5em 0 1em 18px;}

dl			{margin:0.5em 0;line-height:1.3em}
dt			{width:30%;text-align:right;font-weight:bold}
dd			{margin:-1.3em 0 0.5em 32%}





/* header */
div.header p.description	{color:#000;clear:both;font-size:0.7em;text-transform:uppercase;font-weight:700}
div.header div.date		{margin:2px 0;padding:0 4px;font-size:0.7em;color:#fff;background:#ddddd0;text-align:left;border:3px double #f6f6f6;border-width:3px 0}
div.header div.date span.info	{padding:0 4px}

/* stars */
div.stars-container 	{float:right;width:14em;margin-left:12px;text-align:left;padding:8px 12px}
div.stars-container ul,
div.stars-container li	{list-style-type:none !important;margin:0 !important;padding:0 !important}
div.stars-container a	{border:0px !important}
div.stars-container a:visited	{border:0px !important}
div.stars-container div.small	{font-size:0.7em;color:#aaaaa0;padding-left:4px}

/* footer */
div.display div.footer	{text-align:left;font-family:monospace;display:block;clear:both;margin:0 0 12px 0;color:#bfbfbd}



/* boxes modules */
div.box			{}
div.box	h3		{}

div.popup			{background:#005A99;color:#F2F2F0;border:1px solid #004272;padding:10px}
div.popup	small		{color:#aaa !important}
div.popup	h3		{margin:3px;padding:3px;color:#969694;border-bottom:2px solid #F07300}



/* code */
pre *,code *,.code,var	{font-family:monospace;font-style:normal}
p.codetitle		{font-size:12px;background:#CFCA93;color:#121210;margin:12px 0 0 0;padding:0px 8px;font-family:monospace}
pre			{font-size:12px;background:#ffffff;color:#121210;margin:0 0 12px 0;padding:4px 8px;font-family:monospace;overflow:auto}
html>body pre		{width:auto}



/* wiki */



/* articles */
#articles div.image		{float:right;margin:0.5em 0 0.5em 1em}




/* baords */
#boards div.mb-post div.header	{text-align:left;border-left:8px solid #dda;padding-left:10px;}
#boards div.mb-post div.content	{border-left:1px solid #dda;margin-left:7px;padding-left:10px;}
#boards div.mb-post div.floaticon	{float:right;}
#content .boards .mb-post 		{margin-bottom:2em;}



/* sticky */
.stickies textarea,
.stickies input[type='text']	{background:#ffc}
.stickynote .boxtitle	{border-bottom: 1px solid #dda}
.stickynote		{background-color:#ffc;width:300px;padding:3px}



/* attachment browser */
.attbrowser		{padding:0 20px; background:#F2F2F0}
.attbrowser .data		{text-align:center}
.attbrowser .data td	{padding:10px}



/* comments */
div.comment div 			{overflow:auto}
div.comment h3			{color:#aa3f20;margin:32px 0 0 0}
div.comment div.post div.content	{font-size:0.8em;font-family:palatino,'palatino linotype';overflow:hidden;text-align:justify}



/* pageactions */
.pageactions		{float:left;width:100%;clear:both;padding:0.5em 0;line-height:normal}
.pageactions ul		{list-style:none}
.pageactions li		{display:inline}

.sort a			{border:1px solid #696967;background:#404040;padding:0 1em;margin:0 0.5em}
.sort a:hover		{border:1px solid #969694;background:#BFBFBD}

.tools			{text-align:center}
.tools .icon		{padding:0.5em;margin:0 0.5em;border:1px solid #696967;background:#404040}
.tools .icon:hover		{border-color:#969694;background:#F2F2F0}



/* calendar */
.caltable .calnumber	{border-bottom:1px solid #8A0000;text-align:right;padding:2px;margin:2px}
.module .caltable		{font-size:10px}
.module .caltable th	{font-weight:normal;background:transparent;color:#696967}
.module .caltable td	{text-align:center;}
.module .caltable .calday a	{padding:2px 0;display:block}
.module .caltable .calday a:hover	{background:#54A094}



/* bars */
div.gallerybar 		{padding:16px 0 0 8px;font-family:monospace;font-size:1em}
div.gallerybar a 		{font-weight:500 !important}
div.gallerybar span a	{display:block;font-weight:700}
div.gallerybar span a:hover	{background:#fff !important}

div.structurebar 		{padding:16px 0 0 8px;font-family:monospace;font-size:1em}
div.structurebar div.path 	{display:block}
div.structurebar div.path a 	{background:none;border:0px}
div.structurebar a 		{font-weight:500 !important}
div.structurebar span a	{display:block;font-weight:700}
div.structurebar span a:hover	{background:#fff !important}

div.navigation span.left	{background:none;border:0px;display:block;width:49%;text-align:right;float:left}
div.navigation span.right	{background:none;border:0px;display:block;width:49%;text-align:left;float:right}
div.navigation span a	{display:block}

div.navbar		{text-align:center;font-family:monospace;display:block;clear:both;margin:12px 0}
div.navbar ul		{list-style-type:none;display:block;clear:both}
div.navbar ul li		{list-style-type:none;display:inline}

div.pagination		{text-align:center;font-size:0.8em;color:#C3A40E;padding:2.5em 0 1em 0;}
div.pagination form input	{border:1px solid #BFA408;background:#CFCA93}




/* top menu */
#bittopbar		{display:none;}
#bittopbar ul,
#bittopbar ul li		{list-style:none;margin:0;padding:0;}
#bittopbar ul li		{float:left;}
#bittopbar ul li a		{font-size:0.8em;display:block;padding:1px 5px 2px 5px;}



/* dynamic tree styling */
.DynamicTree .text			{padding:1px 10px}
.DynamicTree .text-active		{background:#B2CEC2; padding:0px 9px;border:1px solid #969694}
.DynamicTree .tree-top		{line-height:30px;color:#8A0000;font-weight:bold}
.DynamicTree .tree-wrapper1		{background:#F2F2F0;padding:1em;margin:1em;border:2px solid ;border-color:#BFBFBD #969694 #696967 #404040}
.DynamicTree .tree-tooltip		{padding:3px 0 0 5px;font-weight:bold}
.DynamicTree .navbar a		{padding:10px}
.DynamicTree span .move		{padding:0 5px;margin:0 20px;border:1px solid #969694;background:#BFBFBD} 



/* tabs */
div.tabsystem 			{margin:8px}
div.tabsystem div.tabcontainer	{clear:both;z-index:1}
div.tabsystem div.tabpage		{background:#fff url(images/bg_tabpage.gif) repeat-x left top;z-index:1;clear:both;border:1px solid #ccc;min-height:4em}
div.tabcontainer h4			{background:#f2f2f0;top:1px;margin:0 6px 0 0;padding:2px 6px;z-index:1;position:relative;display:inline;float:left;white-space:nowrap;border:1px solid #ccc}
div.tabcontainer h4 a		{color:#999}
div.tabcontainer h4 a:hover		{text-decoration:none}
div.tabcontainer h4.tab-hover		{background:#fff}
div.tabcontainer h4.tab-active	{border-bottom:1px solid #f2f2f0}
div.tabcontainer h4.tab-active:hover	{background:#f2f2f0}
div.tabcontainer h4.tab-active a	{color:#000}
div.tabpage h1			{margin-left:8px}


/* FAQs */
.faqtoc ul			{margin-bottom:1.5em}
.faqtoc ul li			{font-weight:bold}
.faqtoc ul li li			{font-weight:normal}



/* kernel */
#kernel div.admin div.menu .menuicon	{border:3px double #006FC0;display:inline;float:left;padding:2px}
#kernel div.admin div.menu h3		{display:inline;float:left;background:#006FC0 url(images/bg_header_2.gif) no-repeat right top;color:#F2F2F0;text-transform:uppercase;padding:0 16px 0 2px;font-size:0.9em;margin:32px 0 0 0}
#kernel div.admin div.menu ul		{list-style-type:none;float:left;clear:both;margin:2px 0 0 0}
#kernel div.admin div.menu ul li	{list-style-type:none;margin:0 0 2px 0;width:100%}

#kernel div.admin div.menu a		{color:#aa3f20;display:inline;border-bottom:1px solid #cfca93;text-decoration:none}
#kernel div.admin div.menu a:visited 	{color:#696967;text-decoration:none}
#kernel div.admin div.menu a:hover	{color:#F07300;background:#FFFBE2;text-decoration:none}




/* Pigeonholes */
.pigeonholes .body ul ul		{margin-top:0 !important;padding-top:0 !important;}
.pigeonholes table.data		{border-top:1px dotted #B4CFEC;}
.pigeonholes table.data a		{display:block;}
.pigeonholes table.data 
	h3.section		{text-decoration:none;}


/* fisheye */
#fisheye div.boxcontent img		{display:block;margin:24px auto}
#fisheye p.sizes			{border-bottom:1px solid #eee;color:#eee;margin-bottom:16px;text-align:left}
#fisheye p.sizes a			{color:#bbb !important}
#fisheye p.sizes a:hover		{color:#bbb !important}


/* images */
img.avatar			{float:left;margin:8px}
img.portrait			{float:left;margin:8px}

/* certain listings */
#container #articles ul.data	li.item,
#container #themes ul.data	li.item,
#container #fisheye ul.data	li.item		{border:1px solid #6CA0DA;clear:both;margin:0.5em 200px 0.5em 0;background:#E5EFF9}
#container #articles ul.data	li.item h2 a,
#container #themes ul.data	li.item h2 a,
#container #fisheye ul.data	li.item h2 a	{color:#BFA408;}
#container #articles ul.data	li.item	.thumb,
#container #themes ul.data	li.item	.thumb,
#container #fisheye ul.data	li.item	.thumb	{float:right;margin:-35px -200px 0 0}
#container ul.data li.item .date		{clear:none;}



/* links below logo */
#bitweaver 		{text-align:center;overflow:hidden}
#bitweaver ul 		{text-align:center;padding-bottom:2px}
#bitweaver ul li		{color:#fff;display:inline;font-family:monospace}
#bitweaver ul li a		{color:#6ba0d9;background:#004373;border:3px double #006fbf;padding:0 6px}
#bitweaver ul li a:visited	{color:#6ba0d9;background:#004373;border:3px double #006fbf}
#bitweaver ul li a:hover	{color:#fff;text-decoration:none}
#bitweaver ul li.doc a:hover	{background:#bfa408}
#bitweaver ul li.com a:hover	{background:#aa3f20}
#bitweaver ul li.dev a:hover	{background:#3fceee}

/* links above logo */
#bitweaver #try ul 		{margin:16px 0 0 16px}
#bitweaver #try ul li	{clear:both;display:block;text-align:right}
#bitweaver #try li a	{color:#fff;background:none;border:0px;padding:0 4px}
#bitweaver #try li a:visited	{color:#fff;background:none;border:0px}
#bitweaver #try li a:hover	{color:#fff;background:#3fceee;text-decoration:none}




/* links */
a			{color:#000000;text-decoration:none}
a:visited			{color:#000000;text-decoration:none}
a:hover			{color:#0048fe;text-decoration:underline}

div.content a		{text-decoration:underline}
div.content a:visited	{text-decoration:underline}

div.tabpage a		{border-bottom:1px solid #0048fe}
div.tabpage a:visited	{border-bottom:1px solid #0048fe}

a.create			{color:#000000;text-decoration:none;border-bottom:1px dotted #0048fe}
a.external		{color:#0048fe;text-decoration:none;border-bottom:none}
a.more			{}

em.more			{background:#f6f6f6 url(images/arrow_more.gif) no-repeat right 50%;float:right;font-style:normal;line-height:normal}
em.more a			{color:#ffffff;background:#000 url(images/bg_arrow_more.gif) no-repeat -60px 50%;border-color:#f6f6f6;border-width:0.5em 0;border-style:solid;display:block;margin:0 0.5em 0 0;padding:0 0.5em 0 1em;float:left;text-decoration:none !important}
em.more a:visited		{color:#ffffff;border-color:#f6f6f6;border-bottom-width:0.5em}
em.more a:hover		{color:#fadc00;border-color:#f6f6f6;border-bottom-width:0.5em}

#articles div.body	em.more	{font-size:0.6em}
#articles div.body	em.more a	{padding-left:1.5em;text-transform:uppercase}

h1 a			{color:#000}
h1 a:visited		{color:#000}
h1 a:hover		{color:#0048fe}

a.username		{font-weight:700;border:0}
a.username:visited		{font-weight:700;border:0}
a.username:hover		{font-weight:700;border:0}

#content div.date a			{color:#fff;text-decoration:none;font-weight:700}
#content div.date a:visited		{color:#fff;text-decoration:none}
#content div.date a:hover		{color:#000}
#content div.date:hover		{color:#000}
#content div.date:hover a		{color:#000}

#navigation div.module a		{color:#ffffff;font-size:0.8em;border-bottom:1px solid #197dc5;line-height:1.4em;display:block;padding:0 0 0 16px}
#navigation div.module div.date a	{display:inline;}
#navigation div.module a:visited	{color:#ddddd0}
#navigation div.module a:hover	{color:#fadc00;border-bottom:1px solid #6ba0d9;line-height:1.4em;text-decoration:none !important}





/* MUST start with . or # */
.preview			{border:1px dashed #696967;margin:0 0 2em 0}
.norecords		{font-weight:bold;height:6em;text-align:center}
.popup			{background:#F2F2F0;width:250px;border:1px solid #004272}
.highlight		{font-weight:bolder;color:#8A0000;background:#BFBFBD;border:1px solid #404040}
.selected			{font-weight:bolder}
.storage			{float:right;border:1px solid #969694;background:#F2F2F0}
.storage .item		{margin:3px;text-align:center}
.comment,.footer		{clear:both}
.icon			{vertical-align:middle;margin:0 0.2em}
.menuicon			{text-align:center}
.clear			{clear:both}
.quicktag			{margin:0 1px}
#fileslist div span		{border:1px solid #969694;background:#BFBFBD;color:#8A0000;display:block;width:75%;float:left;margin:0 3px 0 0;padding:0 0 0 3px}




/* temp */
#articles div.display div.image	{float:left;}
#articles div.display div.image img	{width:64px}
#navigation #search_box		{display:none}
img.thumb 			{border-width:1px;border-style:solid;border-color:#ddd #999 #999 #ddd}
#languages input[value="Cancel"]	{border:3px outset #f00;background:#c00;color:#fff;font-weight:700}

/* vim: set ts=10: */
